*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/

target/

.idea/
.bloop/
.bsp/
.metals/
.vscode/

hepek_output/
