# Global settings applied to the whole site.  
# 
# “publish” is the directory to publish (relative to root of your repo),
# “command” is your build command,
# “base” is directory to change to before starting build. if you set base:
#    that is where we will look for package.json/.nvmrc/etc not repo root!

[build]
  publish = "target/web/public/main/site"
  command = "chmod 0755 ./sbt-install && ./sbt-install -d . 1.1.0 && ./sbt hepek"
